.modal__item {
  font-size: 18px;
  font-family: 'PlumbCondensed', Arial, sans-serif;
  text-transform: uppercase;
  color: rgb(56, 56, 56);
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}


.modal__item:hover {
  background-color:slategrey;
}