.header__logo-container {
  background-image: -moz-linear-gradient(90deg, #3e5076, #7291b3 60%);
  background-image: -webkit-linear-gradient(90deg, #3e5076, #7291b3 60%);
  background-image: -ms-linear-gradient(90deg, #3e5076, #7291b3 60%);
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 22px;
  position: relative;
}


.header__logo-container::before {
  content: ' ';
  background-image: url('../../../image/elips-logo-container.png');
  display: block;
  width: 100%;
  height: 9px;
  position: absolute;
  bottom: 0;
}