@import url('./__title-container/about-snils__title-container.css');
@import url('./__title/about-snils__title.css');
@import url('./__concept/about-snils__concept.css');
@import url('./__description-block/about-snils__description-block.css');
@import url('./__description-container/about-snils__description-container.css');
@import url('./__img/about-snils__img.css');
@import url('./__description/about-snils__description.css');
@import url('./__description-item/about-snils__description-item.css');
@import url('./__result/about-snils__result.css');


.about-snils {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 103px;
  padding-right: 103px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 90px;
}


@media screen and (max-width: 1272px) {
  .about-snils {
    padding-left: 50px;
    padding-right: 50px;
  }
}