@import url('./__img/details-snils__img.css');
@import url('./__title/details-snils__title.css');

.details-snils {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

@media screen and (max-width: 659px) {
  .details-snils {
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
  }
}