.main__title-container {
  background: rgba(255, 255, 255, 0.24);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 105px;
  padding-left: 105px;
  padding-bottom: 28px;
  padding-top: 28px;
  text-align: center;
}



@media screen and (min-width: 505px) and (max-width: 1008px) {
  .main__title-container {
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center;
  }
}

@media screen and (max-width: 505px) {
  .main__title-container {
    padding-right: 25px;
    padding-left: 25px;
    justify-content: center;
  }
}