@import url('./__info/contacts__info.css');

.contacts {
  display: flex;
  justify-content: space-around;
  width: 70%;
  flex-wrap: wrap;
}

@media screen and (min-width: 940px) and (max-width: 1139px) {
  .contacts {
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .contacts {
    justify-content: flex-start;
  }
}