.question-snils__title {
  font-size: 30px;
  font-family: 'PlumbCondensed light', Arial, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.34);
  text-transform: uppercase;
  margin: 0;
  max-width: 276px;
  padding-top: 120px;
}

@media screen and (min-width: 780px) and (max-width: 1160px) {
  .question-snils__title {
    font-size: 24px;
    width: 220px;
  }
}


@media screen and (min-width: 680px) and (max-width: 779px) {
  .question-snils__title {
    font-size: 18px;
    width: 220px;
    padding-top: 160px;
  }
}


@media screen and (min-width: 300px) and (max-width: 679px) {
  .question-snils__title {
    font-size: 18px;
    width: 220px;
    padding-top: 20px;
    text-align: center;
  }
}