.menu-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(0px, 188px) minmax(0px, 257px) minmax(0px, 245px) minmax(0px, 198px) minmax(0px, 239px);
}