.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

@media screen and (min-width: 620px) and (max-width: 1030px) {
  .footer__container {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 300px) and (max-width: 619px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


