@import url('./__list/modal__list.css');
@import url('./__item/modal__item.css');
@import url('./__mobile/modal__mobile.css');

.modal {
    width: 90%;
    height: auto;
    position: absolute;
    left: 13px;
    top: 25px;
    background-color: rgb(255, 255, 255);
    opacity: 0.98;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

